<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../components/goldberg-questionnaire.html">

<dom-module id="personality-view">
  <template>
    <style include="shared-styles"></style>
    <style>
      :host {
      }
    </style>

    <div class="card">
      <goldberg-questionnaire></goldberg-questionnaire>
    </div>
  </template>
  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'personality-view',
        ready: function() {
        }
      });
    })();
  </script>
</dom-module>