<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="auth-login">
  <template>
    <style>
      :host {
        position: absolute;
        top: 46px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--paper-purple-500);
        transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 1;
        color: var(--paper-purple-50);

        @apply(--layout);
        @apply(--layout-center-center);
      }

      :host([signed-in]) {
        opacity: 0;
        pointer-events: none;
      }

      paper-button > * {
        vertical-align: middle;
        text-transform: none;
      }
    </style>
    <paper-button on-tap="signIn" disabled="[[disabled]]">
      <iron-icon icon="account-circle"></iron-icon>
      <span>Sign in with Google</span>
    </paper-button>
  </template>
  <script>
    Polymer({
      is: 'auth-login',

      properties: {
        disabled: {
          type: Boolean,
          reflectToAttribute: true,
          value: false
        },

        signedIn: {
          type: Boolean,
          reflectToAttribute: true,
          value: false
        }
      },

      signIn: function() {
        this.fire('sign-in', null, { bubbles: false });
      }
    });
  </script>
</dom-module>