<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="frequency-lists.html">

<dom-module id="passwords-service">
  <template>
    <frequency-lists passwords="{{passwords}}" english-wikipedia="{{englishWikipedia}}"></frequency-lists>
  </template>
  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'passwords-service',
        properties: {
          passwords: {
            type: Array
          },
          englishWikipedia:{
            type: Array
          }
        },
        ready: function() {
        },
        /**
         * Uses the passwords frequency list to return a randomly selected password.
         * @returns {String} random Password from the commonly used passwords list.
         */
        common: function() {
          if (this.passwords && this.passwords.length) {
            // only use the top 2000 passwords
            // the first 1000 score 1, the remainder score 2 points.
            var randomIndex = Math.floor(Math.random() * Math.min(this.passwords.length, 2000)); 
            return this.passwords[randomIndex];
          } else {
            return '';
          }
        },
        mangled: function() {
          var pw = this.common();

          var numberMangles = Math.floor(pw.length * 0.3); // 30 % mangled
          var numberCaps = Math.floor(pw.length * 0.2); // 20% uppercased
          var mangledIndices = [];
          var pwChars = pw.split('');
          // from: https://github.com/dropbox/zxcvbn/blob/master/src/matching.coffee
          var substitions = {
            a: ['@'],
            b: ['8'],
            e: ['3'],
            g: ['6'],
            i: ['1', '!'],
            o: ['0'],
            s: ['$', '5'],
            t: ['7'],
            z: ['2']
          };

          try {
            // first, mangle the password randomly.
            for (var i = 0; i < numberMangles; i++) {
              var randomIndex = Math.floor(Math.random() * pwChars.length);
              var randomSubIndex, char;
              var attempts = 0;

              while (mangledIndices.indexOf(randomIndex) !== -1 && attempts < 500) {
                randomIndex = Math.floor(Math.random() * pw.length);
                // make sure we eventually leave the loop.
                attempts++;
              }
              mangledIndices.push(randomIndex);
              char = pwChars[randomIndex].toString().toLowerCase();
              // now we should have a random index
              if (char in substitions) {
                // substitions[char] is an array containing all possible substitutions for this character.
                // let's randomly select one of them.
                randomSubIndex = Math.floor(Math.random() * substitions[char].length);
                pwChars[randomIndex] = substitions[char][randomSubIndex];
              }
            }

            // second, randomly capitalize letters.
            for (var j = 0; j < numberCaps; j++) {
              var randomCapIndex = Math.floor(Math.random() * pwChars.length);
              pwChars[randomCapIndex] = pwChars[randomCapIndex].toString().toUpperCase();
            }
          } catch (e) {
            console.warn(pwChars);
          }
          // join and return.
          return pwChars.join('');
        },
        passphrase: function(numWords) {
          
          var n = numWords ? numWords : 4;
          var max = 100;
          var longWordThreshold = 7;
          var maxWordLength = 12;
          var minWordLength = 4;
          var dictionarySize = this.englishWikipedia.length;
          var randomWords = [];
          var longWordCount = 0;
          var randomWord;
          var dictionary = this.englishWikipedia;
          var separators = ['.',',','+',' ','-','_','','','']; // no-separator three times as likely.

          // make sure we return at most max words.
          // the default is
          n = n < max ? n : max;
          for (var i = 0; i < n; i++) {
            randomWord = dictionary[Math.floor((Math.random() * dictionarySize ))];
            if (randomWord.length >= minWordLength && randomWord.length < maxWordLength) {
              // do we have any space left for long words?
              if (longWordCount < n / 2) {
                // yes
                // just put the word in there
                randomWords.push(randomWord);
                // if the word is "long", let's increase the counter.
                if (randomWord.length >= longWordThreshold) {
                  longWordCount++;
                }
              }
              // we don't have space for long words.
              // let's see if it's a short one
              else if (randomWord.length < longWordThreshold) {
                randomWords.push(randomWord);
              }
              // nah. it's not short, try again.
              else {
                i--; // no more space for such long words.
              }
            }
            else { // try again.
              i--;
            }
          }
          
          // next, let's decide if we uppercase all words
          if ( Math.random() > 0.75) {
            randomWords = randomWords.map(function(word) {
              return word.substr(0,1).toUpperCase() + word.substr(1);
            });
          }
          
          // join the passwphrase with a random separator
          return randomWords.join(separators[Math.floor(Math.random() * separators.length)]);
        },
        random: function(length) {
          
          var randomLength = Math.max(7, Math.floor( Math.random() * 16)); // min 7, max 16 chars
          var n = length ? length : randomLength;
          var alphabet = 'abcdefghijklmnopqrstuvwxyz1234567890'.split('');
          var chars = [];
          for (var i = 0; i < n; i++) {
            var randomIndex = Math.floor(Math.random() * alphabet.length);
            chars.push(alphabet[randomIndex]);
          }
          return chars.join('');
        },
        predictable: function() {
          var dictionary = this.englishWikipedia;
          var dictionarySize = dictionary.length;
          var randomWord;
          var commonSuffixes = ['!','.','789','!!', '123', '1', '2', '?', '$', '@', '1!', '1?'];
          
          randomWord = dictionary[Math.floor((Math.random() * dictionarySize ))];
          randomWord = randomWord.substr(0,1).toUpperCase() + randomWord.substr(1);
          
          randomWord += commonSuffixes[ Math.floor(Math.random()*commonSuffixes.length)];
          
          return randomWord;
        }
      });
    })();
  </script>
</dom-module>