<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="passwords-service">
  <template>
    <frequency-lists passwords="{{passwords}}" english-wikipedia="{{englishWikipedia}}"></frequency-lists>
  </template>
  <script>
    (function() {
      'use strict';
      Polymer({
        is: 'passwords-service',
        ready: function() {
        },
        /**
         * Uses the passwords frequency list to return a randomly selected password.
         * @returns {String} random Password from the commonly used passwords list.
         */
        common: function() {
          if (this.passwords && this.passwords.length) {
            var randomIndex = Math.floor(Math.random() * this.passwords.length);
            return this.passwords[randomIndex];
          } else {
            return '';
          }
        },
        mangled: function() {
          var pw = this.common();

          var numberMangles = Math.floor(pw.length * 0.3); // 30 % mangled
          var numberCaps = Math.floor(pw.length * 0.2); // 20% uppercased
          var mangledIndices = [];
          var pwChars = pw.split('');
          // from: https://github.com/dropbox/zxcvbn/blob/master/src/matching.coffee
          var substitions = {
            a: ['4', '@'],
            b: ['8'],
            /*c: ['(', '{', '[', '<'], to fancy for us. */
            e: ['3'],
            g: ['6', '9'],
            i: ['1', '!'],
            l: ['1', '7'],
            o: ['0'],
            s: ['$', '5'],
            t: ['+', '7'],
            x: ['%'],
            z: ['2']
          };

          try {
            // first, mangle the password randomly.
            for (var i = 0; i < numberMangles; i++) {
              var randomIndex = Math.floor(Math.random() * pwChars.length);
              var randomSubIndex, char;
              var attempts = 0;

              while (mangledIndices.indexOf(randomIndex) !== -1 && attempts < 500) {
                randomIndex = Math.floor(Math.random() * pw.length);
                // make sure we eventually leave the loop.
                attempts++;
              }
              mangledIndices.push(randomIndex);
              char = pwChars[randomIndex].toString().toLowerCase();
              // now we should have a random index
              if (char in substitions) {
                // substitions[char] is an array containing all possible substitutions for this character.
                // let's randomly select one of them.
                randomSubIndex = Math.floor(Math.random() * substitions[char].length);
                pwChars[randomIndex] = substitions[char][randomSubIndex];
              }
            }

            // second, randomly capitalize letters.
            for (var j = 0; j < numberCaps; j++) {
              var randomCapIndex = Math.floor(Math.random() * pwChars.length);
              pwChars[randomCapIndex] = pwChars[randomCapIndex].toString().toUpperCase();
            }
          } catch (e) {
            console.warn(pwChars);
          }
          // join and return.
          return pwChars.join('');
        },
        passphrase: function(numWords) {
          var n = numWords ? numWords : 4;
          var max = 100;
          var longWordThreshold = 7;
          var maxWordLength = 12;
          var minWordLength = 4;
          var dictionarySize = this.englishWikipedia.length;
          var randomWords = [];
          var longWordCount = 0;
          var randomWord;
          var dictionary = this.englishWikipedia;

          // make sure we return at most max words.
          // the default is
          n = n < max ? n : max;
          for (var i = 0; i < n; i++) {
            randomWord = dictionary[Math.floor((Math.random() * dictionarySize ))];
            if (randomWord.length >= minWordLength && randomWord.length < maxWordLength) {
              // do we have any space left for long words?
              if (longWordCount < n / 2) {
                // yes
                // just put the word in there
                randomWords.push(randomWord);
                // if the word is "long", let's increase the counter.
                if (randomWord.length >= longWordThreshold) {
                  longWordCount++;
                }
              }
              // we don't have space for long words.
              // let's see if it's a short one
              else if (randomWord.length < longWordThreshold) {
                randomWords.push(randomWord);
              }
              // nah. it's not short, try again.
              else {
                i--; // no more space for such long words.
              }
            }
            else { // try again.
              i--;
            }
          }

          return randomWords.join('');
        },
        random: function(length) {
          var n = length ? length : 10;
          var alphabet = 'abcdefghijklmnopqrstuvwxyz1234567890äöü'.split('');
          var chars = [];
          for (var i = 0; i < n; i++) {
            var randomIndex = Math.floor(Math.random() * alphabet.length);
            chars.push(alphabet[randomIndex]);
          }
          return chars.join('');
        }
      });
    })();
  </script>
</dom-module>